:root {
    --primery-color:#355dff;
    --white-color:white;
    --grey-color: #eee;
    --white-color:white;
    --blue-dark-color: #171120;
    --border-radius: 5px;
    --border-radius: 8px;
}
/* main rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* main rules */
/* component styles */
.container {
    width: 80%;
    margin:0 auto;
}
.flex {
    display: flex;
}
.cntr {
    align-items: center;
    justify-content: center;
}
.between {
    justify-content: space-between;
}
.gap-15 {
    gap: 15px;
}
.txt-c {
    text-align: center;
}
/* color  */
.bg-white {
    background-color: var(--white-color);
}
.bg-grey {
    background-color: var(--grey-color);
}
.bg-b-dark {
    background-color: var(--blue-dark-color);
}
.bg-blue {
    background-color: var(--primery-color);
}
.blue {
    color: var(--primery-color);
}
.white {
    color: var(--white-color);
}
/* padding and margin  */
.p-10 {
    padding: 10px;
}
.p-16 {
    padding: 16px;
}
.pt-10 {
    padding-top:10px ;
}
.pt-20 {
    padding-top:20px ;
}
.pt-15 {
    padding-top:15px ;
}
.pt-30 {
    padding-top:30px ;
}
.pb-10 {
    padding-bottom:10px ;
}
.pb-15 {
    padding-bottom:15px ;
}
.pb-20 {
    padding-bottom:20px ;
}
.pb-30 {
    padding-bottom:30px ;
}
.m-20 {
    margin: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
/* padding and margin  */
/* border  */
.br-5 {
    border-radius: var(--border-radius);
}
.br-8 {
    border-radius: var(--border-radius);
}
/* width and height  */
.h-full {
    height: 100vh;
}
.m-full {
    height: 50vh;
}
/* width and height  */
/* border  */
/* color  */
/* component styles */