

/* start main styles */
body {
    font-family: "Open Sans", sans-serif;
    height: 2000px;
}
/* end main styles */
/* start rulse styles */
a {
    text-decoration: none;
    color: inherit;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* end rulse styles */

/* start header styles */
.header {
    padding: 20px 0;
}
.header .logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
/* end header styles */
/* section about */
main .about {
    width:60%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}
@media screen and (max-width: 768px) {
    main .about {
        width: 80%;
    }
    main .about h1 {
        font-size: 25px;
    }
}
main .about p {
    font-size: 16px;
    line-height:1.6;
    color: #333;
}
/* section about */
/* start section services */
.services .service {
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .services .services-box {
    flex-direction: column;
    }
    .services .services-box  h3 {
        font-size: 18px;
    }
}
/* end section service */
/* start section skills */
.skills {
    color: white;
}
.skills p {
    font-weight: bold;
}
.skills .progress {
    max-width: 100%;
    background-color: var(--bg-white-color);
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
}
.skills .progress .progress-bar {
    height: 100%;
    display: block;
    width: 0;
    border-radius: 1px;
    transition: width 1.6s ease-in-out;
}
.skills .progress .progress-bar.html {
    width: 0%;
    background-color: #fa481b;
}
.skills .progress .progress-bar.css {
    width: 0%;
    background-color: #355dff;
}
.skills .progress .progress-bar.responsive {
    width: 0%;
    background-color: #f7a224;
}
.skills .progress .progress-bar.github {
    width: 0%;
    background-color: #271977;
}
/* end section skills */